{% extends "layout.html" %}

{% block title %}
    Annual Conference
{% endblock %}

{% block main %}
<h1>SLU's Annual Graduate Student Philosophy Conference</h1>
<hr>
<h2>Fall 2019 SLU Graduate Conference Call For Papers</h2>
<blockquote class="embedly-card"><h4><a href="https://philevents.org/event/show/71570">Justice and Philosophy of Religion</a></h4><p>We invite submissions for the annual graduate student conference at Saint Louis University, October 25-26, 2019. Papers may be on any topic in philosophy of religion, but papers that explore the conference theme will be given preference. Some questions this topic is meant to explore may include, but are by no means limited to: What is the nature of divine justice?</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
<hr>
<h2>Past Conferences</h2>
<h3>example video:</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/BrEZTBVv_R8" frameborder="2" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h3>2006–2017</h3>
<p>2017: "The Nature and Character of Self-Consciousness," Keynote: Alva Noë</p>
<p>2016: "Skepticism," Keynote: Ernest Sosa</p>
<p>2015: "Free Will and Moral Responsibility," Keynotes: John Heil and Pamela Hieronymi</p>
<p>2014: "Ontology of Persons: What are We and What Difference Does it Make?" Keynote: Dean Zimmerman</p>
<p>2013: "Metaphilosophy," Keynotes: Roy Sorensen and William Ramsey</p>
<p>2012: "The Problem of Evil," Keynote: Alvin Plantinga</p>
<p>2011: "Social Epistemology," Keynote: Alvin Goldman</p>
<p>2010: "Justice and Public Disagreement: Reasons, Religion, and Value," Keynote: Nicholas Wolterstorff</p>
<p>2009: "Wrongdoing, Evil, and Moral Monsters", Keynote: Harry Frankfurt</p>
<p>2008: "Darwinism & Philosophy: Past, Present, and Future," Keynote: Robert Richardson</p>
<p>2007: "The Philosophy of Mind," Keynote: Timothy O'Connor</p>
<p>2006: "The Epistemology of Religous Belief," Keynote: Robert Audi</p>
{% endblock %}
