{% extends "layout.html" %}

{% block title %}
    PGSA Home
{% endblock %}

{% block main %}
<p>The PGSA organizes meetings for professional development with faculty members dedicated to both securing employment and a broad array of issues in the academic world. Each year, the graduate students select a topic and organize a graduate student conference around it. The PGSA also facilitates relations with the larger community of graduate students at SLU by selecting a representative to attend the meetings of the Graduate Student Association.</p>
<br>
<p><a href="https://www.slu.edu/colleges/AS/philos/site/">SLU Philosophy Department Website</a></p>
<p>Please Note: this site is not governed by or connected with the SLU philosophy department. This site does not represent Saint Louis University or its philosophy department; this site only represents the Philosophical Graduate Student Association.</p>
<br>
<h2>Address:</h2>
<p>Saint Louis University</p>
<p>3800 Lindell Blvd</p>
<p>Adorjan Hall 130</p>
<p>Saint Louis, MO 63108</p>
{% endblock %}
