{% extends "layout.html" %}

{% block title %}
    PGSA Resources
{% endblock %}

{% block main %}
<h1>Resources</h1>
<hr>
<h2>Documents</h2>
    <p><a href="https://docs.google.com/document/d/1LEKCBvhHbs1DHVmpHJepL0YVsRXXntGFdEsyc__18vs/edit">PGSA Handbook</a></p>
    <p><a href="https://www.slu.edu/colleges/AS/philos/site/resources/grad-files/GSHAugust2018.pdf">SLU Philosophy Graduate Student Handbook</a></p>
    <p><a href="https://www.slu.edu/life-at-slu/student-tech-services/docs/its-new-student-handbook.pdf">SLU Student IT Handbook</a></p>
    <p><a href="https://www.slu.edu/colleges/AS/philos/site/resources/grad-files/Getting-A-Job.pdf">Getting a Job</a> (APA Brochure on Job Placement)</p>
<h2>Links</h2>
    <p><a href="http://www.slu.edu/registrar/calendars/index.php">SLU Academic Calendar</a></p>
    <p><a href="https://www.philosophicalgourmet.com/">Philosophical Gourmet</a></p>
    <p><a href="https://philevents.org/">PhilEvents: Upcoming Events in Philosophy</a></p>
    <p><a href="https://philjobs.org/">PhilJobs: Jobs for Philosophers</a></p>
    <p><a href="https://philpapers.org/">PhilPapers: Online Research in Philosophy</a></p>
    <p><a href="https://plato.stanford.edu">Stanford Encylopedia of Philosophy</a></p>
    <p><a href="https://www.iep.utm.edu/">Internet Encyclopedia of Philosophy</a></p>
    <p><a href="http://gsa.slu.edu/awards/conference-awards">SLU GSA Conference Awards</a> (Be sure to save ALL your reciepts, including boarding passes!</p>
<h2>Teaching Resources</h2>
<form method="post">
    <input type="password" name="password" placeholder="Password"><br>
    <input type="submit">
</form>


{% endblock %}
